.routeContainer
  margin: 30px 5%
  background-color: #eecdee
  height: 80vh
  padding: 20px 2%

  >.title
    text-align: center
    color: white
    font-size: 3.5rem
    font-weight: 300
    padding: 0
    margin: 0