.comparing-container
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-content: space-between
  margin: 4rem 0
  @media all and (max-width: 800px)
    flex-flow: column nowrap
    justify-content: space-between
    align-items: center
  &__paper
    width: 45%
    padding: 2rem
    @media all and (max-width: 800px)
      width: 90%
      margin-bottom: 4rem
  &__paper:last-child
    margin-bottom: 0

.b-stepper
  margin: 2rem auto
  &__nav
    margin: 1rem 0 0


